body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:705px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:18px;
  top:19px;
  width:300px;
  height:671px;
}
#u708 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u709 {
  position:absolute;
  left:49px;
  top:29px;
  width:16px;
  height:16px;
}
#u710 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u711 {
  position:absolute;
  left:75px;
  top:28px;
  width:17px;
  height:17px;
}
#u712 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u713 {
  position:absolute;
  left:224px;
  top:30px;
  width:24px;
  height:13px;
}
#u714 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:250px;
  top:29px;
  width:44px;
  height:15px;
}
#u715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u716 {
  position:absolute;
  left:27px;
  top:53px;
  width:67px;
  height:38px;
}
#u716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u717 {
  position:absolute;
  left:210px;
  top:29px;
  width:8px;
  height:16px;
}
#u718 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u719 {
  position:absolute;
  left:18px;
  top:689px;
  width:300px;
  height:1px;
}
#u720 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u721 {
  position:absolute;
  left:41px;
  top:700px;
  width:30px;
  height:30px;
}
#u722 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u723 {
  position:absolute;
  left:270px;
  top:701px;
  width:29px;
  height:29px;
}
#u724 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u725 {
  position:absolute;
  left:191px;
  top:703px;
  width:34px;
  height:25px;
}
#u726 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u727 {
  position:absolute;
  left:116px;
  top:700px;
  width:30px;
  height:30px;
}
#u728 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u729 {
  position:absolute;
  left:243px;
  top:126px;
  width:48px;
  height:25px;
}
#u730 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u731 {
  position:absolute;
  left:41px;
  top:128px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u733 {
  position:absolute;
  left:41px;
  top:181px;
  width:67px;
  height:22px;
  font-size:16px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u735 {
  position:absolute;
  left:41px;
  top:237px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u737 {
  position:absolute;
  left:243px;
  top:236px;
  width:48px;
  height:23px;
}
#u738 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u739 {
  position:absolute;
  left:41px;
  top:165px;
  width:250px;
  height:1px;
}
#u740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u741 {
  position:absolute;
  left:41px;
  top:220px;
  width:250px;
  height:1px;
}
#u742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u743 {
  position:absolute;
  left:41px;
  top:286px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u745 {
  position:absolute;
  left:41px;
  top:273px;
  width:250px;
  height:1px;
}
#u746 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u747 {
  position:absolute;
  left:224px;
  top:286px;
  width:67px;
  height:22px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u749 {
  position:absolute;
  left:224px;
  top:181px;
  width:67px;
  height:22px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u751 {
  position:absolute;
  left:344px;
  top:71px;
  width:361px;
  height:430px;
  font-size:18px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
