body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:13px;
  top:15px;
  width:300px;
  height:671px;
}
#u834 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u835 {
  position:absolute;
  left:44px;
  top:25px;
  width:16px;
  height:16px;
}
#u836 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u837 {
  position:absolute;
  left:70px;
  top:24px;
  width:17px;
  height:17px;
}
#u838 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u839 {
  position:absolute;
  left:219px;
  top:26px;
  width:24px;
  height:13px;
}
#u840 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:245px;
  top:25px;
  width:44px;
  height:15px;
}
#u841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u842 {
  position:absolute;
  left:53px;
  top:51px;
  width:67px;
  height:38px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u843 {
  position:absolute;
  left:205px;
  top:25px;
  width:8px;
  height:16px;
}
#u844 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u845 {
  position:absolute;
  left:36px;
  top:127px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u847 {
  position:absolute;
  left:36px;
  top:181px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u849 {
  position:absolute;
  left:36px;
  top:235px;
  width:8px;
  height:22px;
  font-size:16px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u851 {
  position:absolute;
  left:35px;
  top:161px;
  width:250px;
  height:1px;
}
#u852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u853 {
  position:absolute;
  left:192px;
  top:127px;
  width:94px;
  height:22px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u855 {
  position:absolute;
  left:204px;
  top:181px;
  width:82px;
  height:22px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u857 {
  position:absolute;
  left:36px;
  top:61px;
  width:17px;
  height:19px;
}
#u858 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:490px;
  top:15px;
  width:300px;
  height:671px;
}
#u860 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u861 {
  position:absolute;
  left:521px;
  top:25px;
  width:16px;
  height:16px;
}
#u862 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u863 {
  position:absolute;
  left:547px;
  top:24px;
  width:17px;
  height:17px;
}
#u864 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u865 {
  position:absolute;
  left:696px;
  top:26px;
  width:24px;
  height:13px;
}
#u866 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867 {
  position:absolute;
  left:722px;
  top:25px;
  width:44px;
  height:15px;
}
#u867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u868 {
  position:absolute;
  left:530px;
  top:51px;
  width:67px;
  height:38px;
}
#u868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u869 {
  position:absolute;
  left:682px;
  top:25px;
  width:8px;
  height:16px;
}
#u870 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u871 {
  position:absolute;
  left:383px;
  top:235px;
  width:8px;
  height:22px;
  font-size:16px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u873 {
  position:absolute;
  left:513px;
  top:61px;
  width:17px;
  height:19px;
}
#u874 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:596px;
}
#u875 {
  position:absolute;
  left:496px;
  top:84px;
  width:293px;
  height:596px;
}
#u876 {
  position:absolute;
  left:2px;
  top:290px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:13px;
  top:787px;
  width:300px;
  height:671px;
}
#u878 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u879 {
  position:absolute;
  left:44px;
  top:797px;
  width:16px;
  height:16px;
}
#u880 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u881 {
  position:absolute;
  left:70px;
  top:796px;
  width:17px;
  height:17px;
}
#u882 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u883 {
  position:absolute;
  left:219px;
  top:798px;
  width:24px;
  height:13px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:245px;
  top:797px;
  width:44px;
  height:15px;
}
#u885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u886 {
  position:absolute;
  left:53px;
  top:823px;
  width:101px;
  height:38px;
}
#u886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u887 {
  position:absolute;
  left:205px;
  top:797px;
  width:8px;
  height:16px;
}
#u888 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u889 {
  position:absolute;
  left:36px;
  top:899px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u891 {
  position:absolute;
  left:36px;
  top:953px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u893 {
  position:absolute;
  left:35px;
  top:933px;
  width:250px;
  height:1px;
}
#u894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u895 {
  position:absolute;
  left:204px;
  top:953px;
  width:82px;
  height:22px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u897 {
  position:absolute;
  left:36px;
  top:833px;
  width:17px;
  height:19px;
}
#u898 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u899 {
  position:absolute;
  left:234px;
  top:898px;
  width:48px;
  height:23px;
}
#u900 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:489px;
  top:787px;
  width:300px;
  height:671px;
}
#u902 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u903 {
  position:absolute;
  left:520px;
  top:797px;
  width:16px;
  height:16px;
}
#u904 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u905 {
  position:absolute;
  left:546px;
  top:796px;
  width:17px;
  height:17px;
}
#u906 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u907 {
  position:absolute;
  left:695px;
  top:798px;
  width:24px;
  height:13px;
}
#u908 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909 {
  position:absolute;
  left:721px;
  top:797px;
  width:44px;
  height:15px;
}
#u909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u910 {
  position:absolute;
  left:529px;
  top:823px;
  width:101px;
  height:38px;
}
#u910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u911 {
  position:absolute;
  left:681px;
  top:797px;
  width:8px;
  height:16px;
}
#u912 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:512px;
  top:899px;
  width:105px;
  height:35px;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u915 {
  position:absolute;
  left:512px;
  top:966px;
  width:105px;
  height:22px;
  font-size:16px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u917 {
  position:absolute;
  left:511px;
  top:948px;
  width:250px;
  height:1px;
}
#u918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u919 {
  position:absolute;
  left:512px;
  top:833px;
  width:17px;
  height:19px;
}
#u920 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u921 {
  position:absolute;
  left:713px;
  top:906px;
  width:48px;
  height:23px;
}
#u922 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u923 {
  position:absolute;
  left:713px;
  top:974px;
  width:48px;
  height:23px;
}
#u924 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925 {
  position:absolute;
  left:286px;
  top:140px;
  width:0px;
  height:0px;
}
#u925_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:198px;
  height:8px;
}
#u925_seg1 {
  position:absolute;
  left:190px;
  top:-5px;
  width:8px;
  height:9px;
}
#u925_seg2 {
  position:absolute;
  left:190px;
  top:-5px;
  width:6px;
  height:8px;
}
#u926 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:245px;
  top:203px;
  width:0px;
  height:0px;
}
#u927_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:571px;
}
#u927_seg1 {
  position:absolute;
  left:-86px;
  top:563px;
  width:90px;
  height:8px;
}
#u927_seg2 {
  position:absolute;
  left:-86px;
  top:563px;
  width:8px;
  height:21px;
}
#u928 {
  position:absolute;
  left:-50px;
  top:325px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:286px;
  top:964px;
  width:0px;
  height:0px;
}
#u929_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u929_seg1 {
  position:absolute;
  left:191px;
  top:-2px;
  width:8px;
  height:6px;
}
#u930 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:31px;
}
#u931 {
  position:absolute;
  left:479px;
  top:125px;
  width:8px;
  height:31px;
  color:#999999;
}
#u932 {
  position:absolute;
  left:2px;
  top:8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:31px;
}
#u933 {
  position:absolute;
  left:479px;
  top:948px;
  width:8px;
  height:31px;
  color:#999999;
}
#u934 {
  position:absolute;
  left:2px;
  top:8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u935 {
  position:absolute;
  left:150px;
  top:785px;
  width:28px;
  height:13px;
  color:#999999;
}
#u936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u937 {
  position:absolute;
  left:820px;
  top:161px;
  width:361px;
  height:430px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
