body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:672px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:14px;
  top:14px;
  width:300px;
  height:671px;
}
#u143 {
  position:absolute;
  left:2px;
  top:328px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u144 {
  position:absolute;
  left:244px;
  top:343px;
  width:52px;
  height:27px;
}
#u145 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:184px;
}
#u147 {
  position:absolute;
  left:73px;
  top:89px;
  width:182px;
  height:184px;
}
#u148 {
  position:absolute;
  left:2px;
  top:84px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u149 {
  position:absolute;
  left:45px;
  top:24px;
  width:16px;
  height:16px;
}
#u150 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u151 {
  position:absolute;
  left:71px;
  top:23px;
  width:17px;
  height:17px;
}
#u152 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u153 {
  position:absolute;
  left:220px;
  top:25px;
  width:24px;
  height:13px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:246px;
  top:24px;
  width:44px;
  height:15px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u156 {
  position:absolute;
  left:25px;
  top:48px;
  width:53px;
  height:38px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  font-family:'Arial Bold Oblique', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u157 {
  position:absolute;
  left:206px;
  top:24px;
  width:8px;
  height:16px;
}
#u158 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u159 {
  position:absolute;
  left:247px;
  top:416px;
  width:49px;
  height:26px;
}
#u160 {
  position:absolute;
  left:2px;
  top:5px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u161 {
  position:absolute;
  left:14px;
  top:634px;
  width:300px;
  height:1px;
}
#u162 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u163 {
  position:absolute;
  left:247px;
  top:493px;
  width:49px;
  height:26px;
}
#u164 {
  position:absolute;
  left:2px;
  top:5px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:45px;
  top:345px;
  width:113px;
  height:34px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:45px;
  top:417px;
  width:113px;
  height:34px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  position:absolute;
  left:42px;
  top:491px;
  width:113px;
  height:34px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u171 {
  position:absolute;
  left:37px;
  top:647px;
  width:27px;
  height:27px;
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:8px;
}
#u173 {
  position:absolute;
  left:38px;
  top:80px;
  width:28px;
  height:8px;
}
#u174 {
  position:absolute;
  left:2px;
  top:-4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_ann {
  position:absolute;
  left:59px;
  top:76px;
  width:1px;
  height:1px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u175 {
  position:absolute;
  left:266px;
  top:646px;
  width:29px;
  height:29px;
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u177 {
  position:absolute;
  left:147px;
  top:648px;
  width:34px;
  height:25px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u179 {
  position:absolute;
  left:142px;
  top:572px;
  width:46px;
  height:46px;
}
#u180 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u181 {
  position:absolute;
  left:155px;
  top:585px;
  width:19px;
  height:20px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  text-align:center;
}
#u183 {
  position:absolute;
  left:109px;
  top:288px;
  width:113px;
  height:34px;
  text-decoration:underline;
  text-align:center;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u185 {
  position:absolute;
  left:39px;
  top:390px;
  width:250px;
  height:1px;
}
#u186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u187 {
  position:absolute;
  left:39px;
  top:473px;
  width:250px;
  height:1px;
}
#u188 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u189 {
  position:absolute;
  left:386px;
  top:119px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u191 {
  position:absolute;
  left:386px;
  top:183px;
  width:300px;
  height:238px;
  font-size:18px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
